body{
    background-color: #34495e;
}
.main{
 max-width: 500px;
 /* background-color: #2c3e50; */
 display: grid;
 grid-template-columns: 1fr;
 gap: 40px;
 margin: auto;
 margin-top: 20vh;
 color: white;
}
#number, #button, #text{
    border: 2px solid #FFF;
    background-color: transparent;
    padding: 10px 25px;
    color: #FFF;
    font-weight: bold;
    /* box-shadow: 0 0 30px -10px #FFF; */
    resize: none;
    text-transform: uppercase;
}
#number:active, #number:focus, #text:active, #text:focus{
    outline: transparent;
}

#button{
    box-shadow: none;
    background-color: #2c3e50;
    cursor: pointer;
}